.main-header header {
  width: 100%;
  padding: 2.4rem 4.8rem;
  background-color: rgba(255, 255, 255, 0.38);
  margin-bottom: 3.2rem;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 2.4rem;
  transform: scale(4);
}
