.main-header header {
  width: 100%;
  padding: 2.4rem 6.4rem;
  margin-bottom: 3.2rem;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 2.4rem;
  transform: scale(4);
}
