.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8.6rem;
}

.welcoming {
  max-width: 130%;
}

.hero h1 {
  margin-bottom: 1.6rem;
}

.hero h2 {
  text-transform: none;
}

.section-hero strong {
  color: var(--main-gray-tint);
  display: inline-block;
  margin-left: 0.8rem;
  position: relative;
}

.section-hero strong::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.7;
  transform: scale(1.04, 1.4) skewX(-15deg);
  background-image: var(--main-gradient);
  z-index: -1;
}

.cta-btns {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.section-hero a:last-child {
  position: relative;
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.section-hero a:last-child::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--main-color);

  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.section-hero a:last-child:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

.me {
  max-width: 40%;
}

.section-hero img {
  max-width: 100%;
}

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .hero h2 {
    font-size: 4rem;
  }
}

@media (max-width: 59em) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 3.6rem;
  }
  .me {
    max-width: 70%;
  }
  .hero img {
    max-width: 100%;
  }
}

@media (max-width: 31.5625em) {
  .section-hero strong {
    margin-top: 1.6rem;
  }
}
