.skillAndCertficates-sectoin {
  background-color: var(--main-color);
  color: var(--theme-color);
  padding: 9.6rem 0;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6rem;
}
